<a href="/login">Login Form</a> |
<a href="/signup">Signup Form</a> | 
<a href="/display-table">Record Table</a>  |
<a href="/forgot-password">Forgot Password </a> |
<a href="/change-password">Change  Password</a>  
